@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #0b1220;
  --card: #ffffff;
  --card-foreground: #0b1220;
  --popover: #ffffff;
  --popover-foreground: #0b1220;
  --primary: #101827;
  --primary-foreground: #ffffff;
  --secondary: #00d3f2;
  --secondary-foreground: #2f7899;
  --muted: #f5f7fa;
  --muted-foreground: #6b7280;
  --accent: #f3f4f6;
  --accent-foreground: #0b1220;
  --destructive: #ef4444;
  --border: #e6eef5;
  --input: #f8fafc;
  --ring: #c7d2fe;
  --chart-1: #f97316;
  --chart-2: #06b6d4;
  --chart-3: #7c3aed;
  --chart-4: #f59e0b;
  --chart-5: #10b981;
  --sidebar: #ffffff;
  --sidebar-foreground: #0b1220;
  --sidebar-primary: #0ea5b7;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #00d3f2;
  --sidebar-accent-foreground: #0b1220;
  --sidebar-border: #e6eef5;
  --sidebar-ring: #c7d2fe;
}

.light {
  --background: #ffffff;
  --foreground: #0b1220;
  --primary: #ffffff;
  --primary-foreground: #ffffff;
  --secondary: #00d3f2;
}

.dark {
  --background: #0b0f14;
  --foreground: #e6eef5;
  --card: #0b1220;
  --card-foreground: #e6eef5;
  --popover: #0b1220;
  --popover-foreground: #e6eef5;
  --primary: #06070a;
  --primary-foreground: #ffffff;
  --secondary: #2fb6c6;
  --secondary-foreground: #cceef1;
  --muted: #0f1724;
  --muted-foreground: #9aa4b2;
  --border: #1f2937;
  --input: #0b1220;
  --ring: #334155;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Shadcn/Ui */
/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #101827;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #00d3f2;
  --secondary-foreground: #2f7899;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
